.one-button {
 margin: 8px;
 background-color: white;
 color: #ff5a5f;
 border: 1px solid #ff5a5f
}

.one-button:hover {
 margin: 8px;
 background-color: #ff5a5f;
 color: white;
 border: 1px solid #ff5a5f
}

* {
 font-family: 'Noto Sans', sans-serif;
}
